body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo {
	display:table;
    margin:0 auto;   
    text-align:center;
    border:none;
}

img {
	width:100%;
	height:auto;
	border:none;
}

#test{
	position: absolute;
	bottom: 20%;
		height:auto;
	width:100%;
}

#winDiv{
	position: relative;

}

.clearfix {
	overflow:auto;
}

.bottoneVoto {
	float:right;
}

