extends layout

block head
	script(type='text/javascript' src='/socket.io/socket.io.js')
	title Admin_Page
	
block content
	div(id='blueFaul', class="ui-btn ui-input-btn ui-shadow", ) Fallo dei Blu!
		input(id='blueF',type="button", data-corners="false", data-enhanced="true", value="Fallo dei Blu")
	div(id='redFaul', class="ui-btn ui-input-btn ui-shadow", ) Fallo dei Rossi!
		input(id='redF',type="button", data-corners="false", data-enhanced="true", value="Fallo dei Rossi")

	script.
		var socket=io(":3000/whilePlay");
			$("#blueFaul").click(function(){
				socket.emit('blueFaul');
			});
		
			$("#redFaul").click(function(){
				socket.emit('redFaul');
			});