extends layout

block content
   if (!user)
    div#logo
        img(src='/immagini/teatro.jpg', alt='logo teatro', style='width: 383px, height: 290px ')
    a(href="/login", class='ui-btn ui-corner-all' ) Login
    br
    a(href="/registrazione", class='ui-btn ui-corner-all') Registrati
   
   if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout