doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // link(rel="stylesheet" href="/stylesheets/themes/ppmDark3.css")
    //link(rel="stylesheet" href="/stylesheets/themes/jquery.mobile.icons.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel="stylesheet", href="/stylesheets/jquery.mobile.structure-1.4.5.min.css")
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.5.css')
    script(type='text/javascript', src='/scripts/jquery-2.1.3.js')
    script(type='text/javascript', src='/scripts/jquery.mobile-1.4.5.js')
    block head
  
  body.ui-overlay-b
    div(class='ui-page-theme-b', data-role='page')
      if (user) 
              #headPanel(data-role='header' class ='ui-header')
                div(data-role="controlgroup" data-type="horizontal" class= "ui-btn-right")
                 a(href='/logout' class='ui-btn') Logout
                 if (user.admin && !adminPage) 
                     a(href='/administrator' class='ui-btn' data-ajax='false') Amministrazione
      .ui-content(role='main')
        if (timer)
          #timerDiv
            p Tempo rimasto:  
            p.timer
        block content