extends layout

block content
  .container
    h1 Pagina di registrazione
    p.lead Registrati
    br
    form(role='form', action="/registrazione",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Nuovo utente')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Invia
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Annulla
        
      if(info)
        script alert('errore: #{info}');