extends layout.jade
block head
    script(type='text/javascript', src='http://localhost:3000/socket.io/socket.io.js')
    script(type='text/javascript', src='/scripts/hashmap.js')
    script(type='text/javascript' src='/scripts/custom/redirect.js')
    script(type='text/javascript' src='/scripts/custom/timerControl.js')
    

block content
    script.
            var socket;
            

    if votoAbilitato
        script var votato = false;
    else
        script var votato = true;
    div     
        if titoloScelto
                #titScelto
                   p Titolo scelto:
                   span#titolo=titoloScelto
         #contenitoreLista.listControl          
             p#titoloLista= titoloLista
             ul(data-role='listview', data-inset='false', data-filter = 'true', data-filter-placeholder='filtra per nome', id ='listaVoti' style ='diplay:inline')
             script(type='text/javascript', src='/scripts/custom/voteLista.js')  
         if aggiungiTitolo
            #nuovoTitolo     
                p Inserisci un nuovo titolo
                    form
                        div             
                            label(for='CasellaTesto')
                            //- Oppure inserisci un titolo 
                            input(type='text', name='CasellaTesto', id='CasellaTesto', placeholder='Inserisci titolo', data-clear-btn="true", data-count-theme='b')
                            input(type='submit', value = 'Invia', id='InviaTesto')
            script(type='text/javascript', src='/scripts/custom/voteForm.js')               
        if dev
            button#resetValori(type='reset') Reset
            script.
                socket.on('refresh',function(){
                    location.reload(true);
                });
                $('#resetValori').click(function(){
                    socket.emit('reset');
                });
                    
     #risposta('data-role'= 'page', 'data-dialog'='true')
        .ui-content('role'='main')
            p Grazie per avere votato!
            p #[a(href='#main', data-rel='back', class='ui-btn ui-icon-back ui-btn-icon-left ui-corner-all ui-shadow') Torna alla pagina principale ]