extends layout

block head
    script(type='text/javascript' src='http://localhost:3000/socket.io/socket.io.js')
    script(type='text/javascript' src='/scripts/custom/redirect.js')

block content
 div(class='ui-page-theme-b', data-role='page')
  .ui-content(role='main')
    #testoTitolo
        p.testoPre Il titolo dell'improvvisazione sarà:
        p.testoTitCat=titolo
    if(categoria)
        br
        #testoCategoria
            p.testoPre La categoria dell'improvvisazione sarà:
            p.testoTitCat=categoria