extends layout

block head

	script(type='text/javascript' src='http://localhost:3000/socket.io/socket.io.js')
	script var socket=io(":3000/adminChan");
	script(type='text/javascript' src='/scripts/custom/redirect.js')

block content	
		#messaggioAttendere
			#welcome.bloccoAttendere
					h1 Attendere prego!
					h2=title
					
			#titoloCategoria
				#titoloCat.bloccoTitoloCategoria
					if(titolo)
						h4 Titolo della rappresentazione :
							p.titolo=titolo
					if(categoria)
						h4 Categoria :
							p.categoria=categoria

			#conteggioFalliPunteggio.ui-grid-a
					#red.ui-block-a.bloccoPuntiFalli
						p
							span.titolo Squadra Rossa
							br
							span.titoloPunteggio Punti: 
							span.punteggio 42
							br
							span.titoloFalli Falli: 
							span.falli 7
							br
							span.titoloPenalita Penalita': 
							span.penalita 1
					#blue.ui-block-b.bloccoPuntiFalli
						p
							span.titolo Squadra Blu
							br
							span.titoloPunteggio Punti:
							span.punteggio 42
							br
							span.titoloFalli Falli: 
							span.falli 7
							br
							span.titoloPenalita Penalita': 
							span.penalita 1
							
		
		script(type='text/javascript', src='/scripts/custom/wait.js')
		script(type='text/javascript', src='/scripts/custom/fauls.js')

